javascript:
  (function() {
    document.querySelectorAll('.modal.show').forEach(function(el) {
      var instance = bootstrap.Modal.getInstance(el);
      if (instance) instance.hide();
    });
    document.querySelectorAll('.modal-backdrop').forEach(function(el) { el.remove(); });
    document.body.classList.remove('modal-open');
    document.body.style.removeProperty('overflow');
    document.body.style.removeProperty('padding-right');

    var frame = document.getElementById('#{scope}');
    if (frame) {
      frame.src = null;
      frame.src = '#{referrer}';
    } else {
      window.location.reload();
    }
  })();
